{% extends 'layout.html' %}

{% block title %} Create Group {% endblock %}

{% block main %}
    <form method="POST" action="/create">
        <div class="form-group">
            <input type="text" name="name" placeholder="Group Name">
        </div>
        <div class="form-group">
            <input type="text" name="members" placeholder="Add Members" oninput="replace(this.form)">
        </div>
    </form>
{% endblock %}

{% block script %}
    function replace(form) {
        members = form.members.value;
        memberlist = members.split(" ")
        if (members.substr(members.length - 1) == " ") {
            if ({{ emails }}.indexOf(memberlist[-1])) {

            }
        }
    }
{% endblock %}
