{% extends 'layout.html' %}

{% block title %} Group {% endblock %}

{% block main %}
    <h1>{{ group.name }}</h1>
    <h4>{{ group.count }} members</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <thead>
                    <th>Name</th>
                    <th>Balance</th>
                </thead>
            </tr>
        </thead>
        <tbody>
            {% for member in group.members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>${{ member.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Pay for Group</button>
      
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pay for Group</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <form method="POST" action="/group/{{ group.id }}">
                <div class="modal-body">
                        <div class="form-group">
                            <input autocomplete="off" type="text" name="description" class="form-control" placeholder="Description" autofocus>
                        </div>
                        <div class="form-group">
                            <input autocomplete="off" type="number" name="amount" class="form-control" placeholder="Amount">
                        </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    <!--
    <select class="form-control" name="member" onchange="window.location.href=this.value">
        <option value="" selected disabled>Select Group Member</option>
        {% for member in group.members %}
            <option value="/group/{{ group.id }}/{{ member.id }}" {% if member.id == current.id %}selected{% endif %}>
                {{ member.name }}
            </option>

        {% endfor %}
    </select>
    <br>
    <hr>
    <div style="visibility: {{ visibility }};">
        <h2>{{ current.name }}</h2>
        <h6>{{ current.email }}</h6>
        <h4>Requested transactions:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Request by</th>
                    <th>Amount</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trans in requested %}
                    <tr>
                        <td>{{ trans.from }}</td>
                        <td>{{ trans.amount }}</td>
                        <td>{{ trans.time }}</td>
                        <td>{% if trans.from != current.name %}<a href="/approve/{{ trans.id }}">Approve</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Active transactions:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Request by</th>
                    <th>Amount</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trans in active %}
                    <tr>
                        <td>{{ trans.from }}</td>
                        <td>{{ trans.amount }}</td>
                        <td>{{ trans.time }}</td>
                        <td>{% if trans.from != current.name %}<a href="/complete/{{ trans.id }}">Complete</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Completed transactions:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Request by</th>
                    <th>Amount</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in history %}
                    <tr>
                        <td>{{ trans.from }}</td>
                        <td>{{ trans.amount }}</td>
                        <td>{{ trans.time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
-->
{% endblock %}
